{% extends 'blog/base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block extra-styles %}
    <link rel="stylesheet" href="https://mpcdn.ch/static/assets/dist/css/styles.min.css">
{% endblock extra-styles %}

{% block content %}
<div class="moneypark-news">
    {% spaceless %}
            <header class="intro">
                <h3 class="main-title">
                    <a href="https://moneypark.ch/news-wissen/" class="link-more">
                        <span class="text">
                            {% blocktrans context 'ricola' %}News &amp; Wissen{% endblocktrans %}
                        </span>
                    </a>
                </h3>
            </header>
        <div class="news-list">
            <slick settings="newsSlickSettings">
                {% for post in posts %}
                    <article class="news-item" itemscope itemtype="https://schema.org/BlogPosting">
                        <div class="news-content">
                            <header class="news-head">
                                <a href="{{ article.articleURL }}" class="news-title" target="_blank" itemprop="name">{{ post.title | safe }}</a>
                            </header>
                            <p class="news-desc" itemprop="description">
                                <span class="news-desc-content">{{ post.text|linebreaksbr }}</span>
                                <br>
                                <time class="date">{{ post.published_date }}</time>
                            </p>
                        </div>
                    </article>
                {% endfor %}
            </slick>
        </div>
    {% endspaceless %}
</div>
{% endblock %}
