// Landing titles for online mortgage
.request-title,
.tool-title {
  @include heading(medium);
  padding: 15px 0 16px 0;
  svg,
  .text {
     @include display-inline-block;
  }

  & + .desc {
    font-size: 1.1em;
    margin-bottom: 35px;
    @media(max-width: $mobile) {
      font-size: 1em;
      margin-bottom: 10px;
    }
    @media (max-width: $iphone6) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.request-title {
  @media (max-width: $iphone6) {
    padding-left: 5px;
    padding-right: 5px;
  }
  .svg-request {
    width: 24px;
    height: 24px;
    fill: $color-default;
    @media(max-width: $mobile) {
      display: none;
    }
  }
  & + .desc {
    ul {
      padding: 0 5px;
      li {
        list-style: disc inside none;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.tool-title {
  text-align: center;
  & + .desc {
   text-align: center;
  }
  .svg-house-load {
    fill: $color-default;
    @media(max-width: $mobile) {
      width: 32px;
      height: 32px;
    }
    @media(max-width: $iphone6) {
      display: none;
    }
  }
}

.landing-title {
  @include heading(small);
  margin-top: 5px;
  margin-bottom: 40px;
  @media(max-width: $mobile) {
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.success-title {
  @include heading(small);
}
