{% load staticfiles %}
{% load svg %}

<!DOCTYPE html>
<html itemscope itemtype="https://schema.org/WebPage">
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="MoneyPark">

    <title>Frontend workshop</title>

    <link rel="shortcut icon" href="{% static 'assets/dest/images/favicon/favicon.png' %}">

    {% block styles %}
     <link rel="stylesheet" href="{% static 'assets/dest/css/styles.min.css' %}" media="screen" type="text/css">
        {% block extra-styles %} {% endblock extra-styles %}
    {% endblock styles %}
</head>

<body>

<!--<body {% block body_app %}ng-app="savingsPlanApp"{% endblock body_app %}-->
      <!--{% block body_ctrl %}ng-controller="SavingsPlanController"{% endblock body_ctrl %}>-->

<div class="wrapper">
    <main class="{% block main_class %}main-wrap{% endblock main_class %}">
        <div class="container">

            {% block content %}{% endblock content %}

            <div>
                <hr>
                <input type="text" ng-model="yourName" placeholder="Enter a name here">

                {% verbatim %}
                    <h1>Hello {{ yourName }}!</h1>
                {% endverbatim %}

                <div ng-show="infoAreaBlock">
                    test
                </div>
            </div>

            <div ng-app="blogApp">
                <div ng-controller="blogController">


                <h2>Filter </h2>
                <!--{% verbatim %}-->
                    <!--&lt;!&ndash;<span>{$ independence |reverse $}</span>&ndash;&gt;-->
                    <!--<span>{{ independence | reverse }}</span>-->
                <!--{% endverbatim %}-->
                <span ng-bind=" test1 | reversetest"></span>
                    <!--<span ng-bind=" 1234 | test"></span>-->
                    <!--<span ng-bind=" 10 | percent"></span>-->
                <!--<span ng-bind="test | abs"></span>-->
                <span ng-bind="test | percent"></span>
                <!--<span class="value" ng-bind="amortisationValue | abs | number:0"></span>-->
                </div>
            </div>
        </div>
    </main>
</div>

{% block js %}
    <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'node_modules/angular/angular.js' %}"></script>

    <!-- transpile by babel in es2015 syntax -->
    <!--<script src="{% static 'assets/dist/js/es6.js' %}"></script>-->

    <script src="{% static 'js/angular/apps/savings-plan.app.js' %}"></script>
    <script src="{% static 'js/angular/controllers/savings-plan.ctrl.js' %}"></script>

 <script src="{% static 'js/angular/filters/reverse.js' %}"></script>

    <script src="{% static 'js/angular/apps/blog.app.js' %}"></script>
<script src="{% static 'js/angular/controllers/blog.ctrl.js' %}"></script>

{% endblock js %}

</body>

</html>
