{% load staticfiles %}
{% load svg %}

<!DOCTYPE html>
<!--[if (IEMobile 7)|(IE 9)]> <html class="ie"> <![endif]-->
<!--[if (gte IE 11)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html itemscope itemtype="https://schema.org/WebPage"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="MoneyPark">

    <title>Frontend workshop</title>

    <link rel="shortcut icon" href="{% static 'assets/dist/images/favicon/favicon.png' %}">

    {% block styles %}
        <!--<link rel="stylesheet" href="https://mpcdn.ch/static/assets/dist/css/design-guide.min.css">-->
        {% block extra-styles %} {% endblock extra-styles %}
    {% endblock styles %}

    <link rel="stylesheet" href="//fast.fonts.net/cssapi/816217b7-a9cd-4813-9687-1860a0c2a2ce.css" type="text/css" media="screen">
</head>

<body {% block body_app %}ng-app="savingsPlanApp"{% endblock body_app %}
      {% block body_ctrl %}ng-controller="SavingsPlanController"{% endblock body_ctrl %}>

<div class="wrapper">
    <main class="{% block main_class %}main-wrap{% endblock main_class %}">
        {% block content %}{% endblock content %}

        <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
        {% verbatim %}
      <h1>Hello {{ yourName }}!</h1>
{% endverbatim %}

        <div ng-show="infoAreaBlock">
            test
        </div>


    </main>
</div>

{% block js %}
    <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'node_modules/angular/angular.js' %}"></script>

    <script src="{% static 'js/angular/apps/savings-plan.app.js' %}"></script>
    <script src="{% static 'js/angular/controllers/savings-plan.ctrl.js' %}"></script>
{% endblock js %}

</body>
