// Shadows
$box-shadow-form: 0 0 12px rgba(2,3,3,0.17);

// Colors
$color-font: #505143;

$color-default: #789e56;

$color-primary: #fbbf4e;
$color-primary100: #db8f00;

$color-secondary200: #76b2f5;
$color-secondary100: #87aff5;
$color-secondary500: #7CA0C7;
$color-secondary600: #4995e3;

$color-accent: #e7e5e5;
$color-accent100: #f3f3f3;
$color-accent200: #ececec;
$color-accent600: #a8a8aa;
$color-accent700: #747369;

$color-error: #ff5656; // TODO: replace by $color-warning

$color-pink: #ffced1;

$background-confirmation-warning: #cb8624;
$background-confirmation-success: #8fcada;
$background-confirmation-error: #cc747c;

$color-helvetia-default: #e3f2f9;
