// the clearfix: force an element to self-clear it's children
// by Chris Coyier 2017 https://css-tricks.com/snippets/css/clear-fix/
// IE 8 and up
@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
